/*
通用样式
*/
html,body{
	font:'Helvetica',Avenir,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
	font-size: 62.5%;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
ul,li{
	list-style:none;
}
/*
布局
*/
.fl{
	float:left;
}
.fr{
	float:right;
}
.space5{
	height:5px;
	clear:both;
}
.space15{
	height:15px;
	clear:both;
}
.space30{
	height:30px;
	clear:both;
}
.space45{
	height:45px;
	clear:both;
}
.ml5{
	margin-left:5px;
}
.mr5{
	margin-right:5px;
}
.ml10{
	margin-left:10px;
}
.mr10{
	margin-right:10px;
}
/*
色板
*/
.rgb-ffffff,.rgb-ffffff a{
	color:#ffffff;
}
.rgb-ffffff:hover,.rgb-ffffff a:hover{
	color:#ffc773;
}
.rgb-c9c9c9,.rgb-c9c9c9 a{
	color:#c9c9c9;
}
.rgb-c9c9c9 a:hover{
	color:#70f3ff;
}
.rgb-70f3ff{
	color:#70f3ff;
}
/*
字体
*/
.font2em{
	font-size:36px;
}
.font3em{
	font-size:48px;
}
/*
图标
*/
.i_weibo,.i_weixin,.i_douban,.i_zhihu{
	display:block;
	width:30px;
	height:30px;
	background:url(../img/snsicon.png) no-repeat;
}
.i_weibo{
	background-position: -5px -6px;
}
.i_weibo:hover{
	background-position: -5px -129px;
}
.i_weixin{
	background-position: -5px -37px;
}
.i_weixin:hover{
	background-position: -5px -160px;
}
.i_douban{
	background-position: -5px -67px;
}
.i_douban:hover{
	background-position: -5px -189px;
}
.i_zhihu{
	background-position: -5px -98px;
}
.i_zhihu:hover{
	background-position: -5px -220px;
}
/*
默认宽度大于1180
*/
/*
左侧边栏
*/
.sidebar{
	padding:10px;
	position:fixed;
	left:0;
	height:100%;
	background-color:#70f3ff;
	width:20%;
	text-align:center;
	/* background:url(../img/sidebarbg.png) repeat; */
}
.sidebar img{
	width:70%;
}
.sidebar a img:hover{
	width:60%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
	transform: rotate(360deg); 
	-o-transform: rotate(360deg); 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg);
}
.sidebar a:hover{
	text-decoration:none;
}
.snsicon{
	width:65%;
	margin:0 auto;
}
.snsicon a{
		margin:0 5px;
}
.info{
position:fixed;
bottom:0;
font-size:0.8em;
color:#80c2d1;
width:18%;
}
/*
主内容
*/
.main{
	background-color:#ffffff;
	width:80%;
	float:right;
}
.topimg{
	width:90%;
	max-height:300px;
	overflow:hidden;
	margin:0 auto;
}
.container{
	width:80% !important;
}
/* 时间轴 */
.cbp_tmtimeline {
margin: 30px 0 0 0;
padding: 0;
list-style: none;
position: relative;
}
.cbp_tmtimeline:before {
content: '';
position: absolute;
top: 0;
bottom: 0;
width: 10px;
background: #ffc773;
left: 20%;
margin-left: -10px;
}
.cbp_tmtimeline > li {
position: relative;
}
.cbp_tmtimeline > li .cbp_tmtime {
display: block;
width: 25%;
padding-right: 100px;
position: absolute;
}
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
font-size: 0.9em;
color: #999999;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
color: #70f3ff;
}
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
font-size: 2.9em;
color: #84c9d9;
}
.cbp_tmtimeline > li .cbp_tmtime span {
display: block;
text-align: right;
}
.cbp_tmtimeline > li .cbp_tmicon {
width: 40px;
height: 40px;
font-family: 'ecoico';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
font-size: 1.4em;
line-height: 40px;
-webkit-font-smoothing: antialiased;
position: absolute;
color: #ffc773;
background: #ffffff;
border-radius: 50%;
box-shadow: 0 0 0 8px #ffc773;
text-align: center;
left: 20%;
top: 0;
margin: 0 0 0 -25px;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
background: #70f3ff;
}
.cbp_tmtimeline > li .cbp_tmlabel {
margin: 0 0 15px 25%;
background: #84c9d9;
color: #fff;
padding: 2em;
font-size: 1.2em;
font-weight: 300;
line-height: 1.4;
position: relative;
border-radius: 5px;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
border-right-color: #70f3ff;
}
.cbp_tmtimeline > li .cbp_tmlabel:after {
right: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-right-color: #84c9d9;
border-width: 10px;
top: 10px;
}
.cbp_tmtimeline > li {
position: relative;
}
/*
项目列表
*/
.media img{
	width:100%;
	overflow:hidden;
}
.lithumb{
	width:30%;
}
.list{
	padding:0;
	margin:0;
	width:100%;
}
.list li{
	list-style:none;
	margin-bottom:30px;
	padding:5px;
	background:#f8f8f8;
}
.list small a{
	margin:0 5px;
}
.taglist{
	width:100%;
	background:#f8f8f8;
	border-radius:10px;
	padding:5px;
}
.taglist li a{
	display:block;
	background:#e0eee8;
	color:#7cb7c5;
	padding:5px 10px;
	max-width:120px;
	text-align:center;
	border-radius:5px;
	margin:5px;
	float:left;
}
.taglist li a:hover{
	text-decoration:none;
	background:#ffc773;
	color:#ffffff;
}
.badge{
	background-color:#bbcdc5 !important;
}
/*
底部菜单
*/
.ftnav{
	position:fixed;
	right:0;
	bottom:0;
	height:40px;
	background-color:#d6ecf0;
	width:80%;
	text-align:center;
}
.ftnav a{
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
}
.ftnav a:hover{
	background-color:#ffc773;
}
/*
宽度小于1180px时
*/
@media (max-width:1180px){
	.snsicon{
		width:80%
	}
}
/*
宽度小于768px时
*/
@media (max-width:768px){
	.snsicon{
		width:100%
	}
	.font2em{
		font-size:1.8em;
	}
	.i_weibo,.i_weixin,.i_douban,.i_zhihu{
		margin:0;
	}
	.snsicon a {
		margin:0;
	}
	.sidebar p{
		font-size:50%;
	}
	.container {
		width: 100% !important;
	}
	.topimg {
		width: 95%;
	}
	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 2.2em;
	}
	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 15px 27%;
	}
}
/*
宽度小于480px时
*/
@media (max-width:480px){
	/*
	左侧边栏
	*/
	.sidebar{
		position:static;
		padding:10px;
		width:100%;
		background-color:#70f3ff;
		height:20%;
		text-align:center;
		/* background:url(../img/sidebarbg.png) repeat; */
	}
	.sidebar img{
		width:20%;
	}
	.sidebar a img:hover{
		width:15%;
	}
	.snsicon{
		width:35%;
		margin:0 auto;
	}
	.info{
		display:none;
	}
	/*
	主内容
	*/
	.main{
		padding:9px 0;
		background-color:#ffffff;
		width:100%;
		position:static;
	}
	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 15px 28.5%;
	}	
	h3,.h3{
		font-size:1.5em !important;
	}
	.media a{
		position:relative;
	}
	.media img{
		position:absolute;
		top:0;
		width:95%;
	}
		/*
	底部菜单
	*/
	.ftnav{
		position:fixed;
		right:0;
		bottom:0;
		height:40px;
		background-color:#d6ecf0;
		width:100%;
		text-align:center;
	}
	.ftnav a{
		display:block;
		width:100%;
		height:40px;
		line-height:40px;
	}
	.ftnav a:hover{
		background-color:#ffc773;
	}
}
/*
宽度小于320px时
*/
@media (max-width:320px){
	/*
	左侧边栏
	*/
	.sidebar{
		position:fixed;
		top:0;
		padding:5px;
		width:100%;
		background-color:#70f3ff;
		height:7%;
		text-align:center;
		z-index:999;
		/* background:url(../img/sidebarbg.png) repeat; */
	}
	.sidebar img{
		width:9.5%;
		float:left;
		margin-top:5px;
		margin-left:5px;
	}
	.sidebar a img:hover{
		width:9.5%;
	}
	.sidebar p,.info,.no320,.i_weixin,.i_douban,.i_zhihu{
		display:none;
	}
	.snsicon{
		width:30px;
		float:right;
		margin-top:5px;
		margin-right:5px;
	}
	
	/*
	主内容
	*/
	.main{
		padding:9px 0;
		background-color:#ffffff;
		width:100%;
		position:static;
	}
	.cbp_tmtimeline > li .cbp_tmtime {
		border:3px solid #ffc773;
		border-radius:5px;
		background:#ffffff;
	}
	.cbp_tmtime span{
		margin-left:5px;
		margin-top:5px;
	}
	h2, .h2 {
		font-size: 1.6em !important;
	}
	h3,.h3{
		font-size:1.3em !important;
	}
	.cbp_tmtimeline > li .cbp_tmlabel{
		padding:1em;
	}
	.media a{
		position:relative;
	}
	.media img{
		position:absolute;
		top:0;
		width:95%;
	}
		/*
	底部菜单
	*/
	.ftnav{
		position:fixed;
		right:0;
		bottom:0;
		height:40px;
		background-color:#d6ecf0;
		width:100%;
		text-align:center;
	}
	.ftnav a{
		display:block;
		width:100%;
		height:40px;
		line-height:40px;
	}
	.ftnav a:hover{
		background-color:#ffc773;
	}
}