/*--Design by ahdou
Author: ahdou
Author URL: http://ahdou.info
--*/
/*通用样式*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a,a:hover,*:hover{text-decoration:none !important;display: block;transition:0.5s all;}
.txtr{text-align:right;}
.txtl{text-align:left;}
.txtc{text-align:center;}
.fr{float:right;}
.fl{float:left;}
.clear{clear:both;}
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}
html,body{font-family:"微软雅黑", sans-serif !important;margin:0px;height:100%;}
.space5{
	height: 5px;
}
.space10{
	height: 10px;
}
.space20{
	height: 20px;
}
.space50{
	height: 50px;
}
/*end reset*/
/*布局*/
#cover{
	background: #669966;
	min-height: 100%;
}
.icon_bg{
	background-image: url(../img/icon_bg.png);
	background-repeat: no-repeat;
	width: 177px;
	height: 255px;
	position: relative;
}
.icon_bg img{
	position: absolute;
	bottom: 5px;
}
.icon_bg img:hover{
	transform:0.5s ;
	position: absolute;
	bottom: 45px;
}
.button{
	display: block;
	width: 100px;
	margin-left: 30px;
	margin-top:50px;
	padding: 10px 40px;
	border: 1px #FFFFFF dotted;
	border-radius: 5px;
	background: #669966;
	color: #FFFFFF;
}
.button:hover,.button:visited{
	color: #FFFFFF;
	border: 1px #ffffff solid;
}
#nav{
	float: left;
}
#game{
	float: right;
	width: 800px;
	height: 600px;
	border: 1px #556370 dashed;
	margin-top: 20px;
	border-radius: 10px;
}
#who,#major,#hobby{
	min-height: 100%;
}
.imgpro a{
	float: left;
	color: #556370;
	width: 207px;
	display: block;
	margin: 0 30px;
}
.imgpro a:hover{
	padding: 5px;
	box-shadow: 0 0 3px #556370;
}
#major a,#major a:hover,#hobby a,#hobby a:hover,#photo a,#photo a:hover{
	display: block;
	width: 100%;
	text-align: -webkit-center;
}
.photott{
	width: 100%;
	background-image: url(../img/index.jpg);
	background-size:100%;
	background-color: #669966;
}
.photobg{
	width: 100%;
	background-color: #669966;
	margin: 0;
	height: 500px;
}
#photo img,#photo img:hover{
	width: 25%;
	padding: 5px;
	float: left;
}
#info{
	height: 150px;
	width: 100%;
	background-color: #556370;	
}
.about{
	height: 100px;
	width: 100%;
}
.yachi{
	height: 50px;
}
.triangle-up {
    width: 0;
    height: 0;
    display: block;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #FFFFFF;
    float: left;
}
.bqinfo{
	width: 80%;
	margin: 0;
	text-align: center;
}
.wm2{
	display: block;
	width: 50px;
	margin-right: 20px;
}
.snsbtn{
	display: block;
	padding: 10px 15px;
	border: 1px solid #FFFFFF;
	margin: 5px 20px;
	border-radius: 5px;
	color: #FFFFFF;
}
.snsbtn:hover{
	color: #FFFFFF;
	border: 1px dashed #FFFFFF;
}
.wm2:hover{
    background-color:#0CF;
    width:120px; height:120px; 
    z-index:100;
    box-shadow:0px 0px 5px 0px #000
}
/*色板*/
.c_556370{
	color: #556370;
}
.c_ffffff{
	color: #FFFFFF;
}
.c_333{
	color: #333;
}
/*动画*/

/*图标*/
/*字体*/
.em48{
	font-size: 48px;
}
.em36{
	font-size: 36px;
}
.em24{
	font-size: 24px;
}
.em12{
	font-size: 12px;
}
/*自适应*/